<!--
  @File Name          : greeting.html
  @Description        : 
  @Author             : Jaime Terrats
  @Group              : 
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 6/16/2020, 7:00:41 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    6/16/2020   Jaime Terrats     Initial Version
-->
<template>
    <div class={animationClass} onanimationend={handleAnimationEnd}>
        <span class="greet">{greeting}</span>
    </div>
</template>
