<!--
  @File Name          : container.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 6/16/2020, 3:51:22 PM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    6/16/2020   Jaime Terrats     Initial Version
-->
<template>
    <c-header></c-header>
</template>