<!--
  @File Name          : content.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 6/17/2020, 1:05:32 AM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    6/16/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card>
        <lightning-formatted-rich-text value={script}></lightning-formatted-rich-text>
        <section if:true={hasImage}>
          <img class='custom-image' src={image}/>
        </section>
        <section if:true={endImage}>
          <img class='custom-end-image' src={image}/>
        </section>
    </lightning-card>
</template>