<!--
  @File Name          : header.html
  @Description        :
  @Author             : Jaime Terrats
  @Group              :
  @Last Modified By   : Jaime Terrats
  @Last Modified On   : 6/17/2020, 1:08:20 AM
  @Modification Log   :
  Ver       Date            Author      		    Modification
  1.0    6/16/2020   Jaime Terrats     Initial Version
-->
<template>
    <lightning-card class='slds-card_boundary'>
        <section class='slds-grid slds-gutters'>
            <section class='slds-col slds-var-m-left_large'>
                <h1 class='slds-text-title slds-text-title_bold'>{headingText}</h1>
            </section>
            <section class='slds-col'>&nbsp;</section>
            <section class='slds-col'>&nbsp;</section>
            <section class='slds-col slds-var-m-left_large'>
                <img class='slds-avatar-group_medium' src={customLogo} />
                <img class='slds-avatar-group_medium' src={trailheadLogo} />
                <img class='slds-avatar-group_medium' src={jsLogo} />
                <img class='slds-avatar-group_medium' src={lwc} />
                <img class='slds-avatar-group_medium' src={allmight} />
            </section>
        </section>
    </lightning-card>
    <lightning-card class='slds-card_boundary'>
        <section id='navigate'>
            <nav class="slds-context-bar__secondary" role="navigation">
                <template for:each={options} for:item='option'>
                    <li class='slds-context-bar__item slds-var-m-left_medium' key={option.id}>
                        <lightning-button variant='base' value={option.id} label={option.value} onclick={handleNavSelection}></lightning-button>
                    </li>
                </template>
            </nav>
        </section>
        <section id='content'>
            <section if:true={startPresentation} class='slds-var-m-right_medium slds-var-m-left_medium'>
                <c-greeting></c-greeting>
            </section>
            <section if:false={startPresentation} class='slds-var-m-right_medium slds-var-m-left_medium'>
                <c-content script={script} image={image} has-image={hasImage} end-image={endImage}></c-content>
            </section>
        </section>
    </lightning-card>
</template>